* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.home {
    background-color: #C95D63;
    font-family: Arial, sans-serif;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home,h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home,main {
    text-align: center;
    padding: 2rem;
}

.home,p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}



#start-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body {
    background-color: #C95D63;
    text-align: center;
    font-family: Arial, sans-serif; 
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 3px solid #000; 
    font-size: 8vmin;
    color: #000;
    cursor: pointer; 
    background-color: cornsilk;
    transition: background-color 0.3s ease; 
}

.box:hover {
    background-color: #F9E79F; 
}

#btn-reset,
#new-btn {
    padding: 1rem 2rem; 
    font-size: 1.2rem;
    background-color: #000;
    color: #FFF;
    border-radius: 1rem;
    border: none;
    cursor: pointer; 
    margin-top: 1rem; 
    transition: background-color 0.3s ease; 
}

#btn-reset:hover,
#new-btn:hover {
    background-color: #333; 
}

#msg {
    color: #FFF;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.2rem;
    }
    button {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    button {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }
}